---
const description = "404";
import '../styles/global.css';
---
<layout>
    <div class="lost">       
        <h1 class="lost__header">{ description }</h1>
        <p class="lost__body">Sitio no encontrado</p>
        <p>
            <a class="lost__link" href="/">Regresa al inicio</a>
        </p>
    </div>
</layout>

