---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">ADC</a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">Proyectos</a>
        <a href="/posts/">Blog</a>
        <a href="https://github.com/adriandomc" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>

